{% extends 'base.html' %}
{% block title %}
    TRANG CHỦ
{% endblock %}

{% block content %}
    <div class="row container mt-4 ml-1">
    <!-- link here!!! -->
        <!-- PHÂN CHỨC NĂNG GIỮA NGƯỜI BÁN VÀ ĐẠI LÍ -->
        <a href="" class="w-100 btn rounded">
            
            <div class="card ">
                <div class="card-body text-center">
                    
                        <span class=""><i class="fa-solid fa-calendar-days"></i></span>
                        <h5 class="card-title col-sm-6 ">ĐẶT LỊCH</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                </div>
              </div>
        </a>
        
        <!-- BẢN ĐỒ -->
        <a href="" class="w-100 btn rounded">
            
            <div class="card ">
                <div class="card-body text-center">
                    
                        <span class=""><i class="fa-solid fa-map"></i></span>
                        <h5 class="card-title col-sm-6 ">BẢN ĐỒ ĐỊA ĐIỂM THU MUA</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                </div>
              </div>
        </a>
        
        <!-- CAMERA TRA CỨU GIÁ RÁC -->
        <a href="" class="w-100 btn rounded">
            
            <div class="card ">
                <div class="card-body text-center">
                    
                        <span class=""><i class="fa-solid fa-camera"></i></span>
                        <h5 class="card-title col-sm-6 ">Quét tra cứu rác</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                </div>
              </div>
        </a>
        
        <!-- BẢNG GIÁ RÁC -->
        <a href="" class="w-100 btn rounded">
            
            <div class="card ">
                <div class="card-body text-center">
                    
                        <span class=""><i class="fa-solid fa-list"></i></span>
                        <h5 class="card-title col-sm-6 ">Bảng giá rác</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                </div>
              </div>
        </a>
    </div>
{% endblock %}
