{% extends 'base.html' %}
{% block title %}
    NGƯỜI BÁN GẦN ĐÂY
{% endblock %}
    <div class="container-fluid">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chọn thời gian
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <input class="form-control" id="myInput" type="text" placeholder="Search..">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">jQuery</a></li>
              <li><a href="#">Bootstrap</a></li>
              <li><a href="#">Angular</a></li>
            </ul>
          </div>
    </div>
{% block content %}
{% endblock %}